<body>
    <header>
  <a href='@Url.Action("Index")'>Volver al Menu</a>
    <img src = "/img/logo.png" alt ="Foto remera" width = "100px"><br>
    <h1>ButiDracertijos</h1>
</header>
<article>
    <h2>El juego fue desarrollado por...</h2>
    <h2>Tamara Dratler</h2>
    <img src = "/img/creditos/tami.jpg" alt ="tami" width = "100px"><br>
    <h2>Santiago Buti</h2>
    <img src = "/img/creditos/buti.jpg" alt ="buti" width = "100px"><br>

    <br><br>

    <h2>¿De qué nos ocupamos cada uno?</h2>
    <ol>
        <li>Tamara se encargó mayormente de la parte de desarrollar del juego. Sin embargo, cabe aclarar, que su compañero estuvo presente y ayudó durante todo el proceso.</li>
        <li>Buti se encargó mayormente de lo visual bajo la encantadora supervisión de Tamara Dratler</li>
        <li>Ambos desarolladores tubieron un importante rol en ambas partes de la creación del juego</li>
    </ol>

    <br>

    <h2>¿Qué herramientas usamos?</h2>
    <ol>
        <li>Visual Studio Code</li>
        <li>Bootstrap</li>
        <li>Nuestra imaginación</li>
        <li>El Trabajo en Equipo</li>
        <li>La ayuda del profe</li>
    </ol>
</article>
</body>