<header>
  <a href='@Url.Action("Index")'>Volver al Menu</a><br>
</header>
<article>
<h2>¿De quién es este cuarto?</h2>
<p>Entrás a la siguiente sala y no encuentras nada más y nada menos que una escalera que subía, subía y no paraba de subir en forma de espiral. Como no tienes escapatoria, vas a ver a dónde te llevan. Cuando por fin llegaste al último escalón, pegaste un grito, dos ratones pasaron por enfrente tuyo. Uno más grande que otro, ambos llevaban pequeños trozos de queso en sus espaldas. Al adentrarte a la habitación, puedes ver una chimenea apagada con sus cenizas esparcidas por todo el suelo. La habitación, por no decir ático, estaba prácticamente vacía. Solamente tenía una silla como mesa de luz y un sillón con almohadas que funcionaba como cama. Por último, encima de la mesita de luz, había un diminuto zapatito de cristal.</p>
<div class="d-flex justify-content-center">
<div id="carouselExample" class="carousel slide w-50 text-center">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/acertijos/Cenicienta/Escalera.webp" class="d-block w-100" alt="foto1" >
    </div>
    <div class="carousel-item">
      <img src = "/img/acertijos/Cenicienta/ratas.jpg" class="d-block w-100" alt = "foto2">
    </div>
    <div class="carousel-item">
      <img src="/img/acertijos/Cenicienta/zapato.jpg" class="d-block w-100" alt="foto3" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<br>
<form action= '@Url.Action("Habitacion", "Home")'>
    <input type="hidden" name = "sala" value = "2">
    <input type="text" name = "clave">
    <input type="button" onclick="alert('Pensá en la siguiente frse: A las 12 todo vuelve a la normalidad')" value = "Pista">
    <input type="button" onclick="alert('En la habitación ves tirada una inivitación a un baile de tres noches en el castillo real')" value="Pista Extra">
    <input type="submit" value = "Subir">
</form>

</article>