<header>
  <a href='@Url.Action("Index")'>Volver al Menu</a><br>
</header>
<h1>¿Cómo jugar?</h1>
<ol>
    <li>Luego de oprimir el botón de comenzar, te llevaremos a la primera habitación. En esta, habrá un acertijo con un determinado nivel de dificultad</li>
    <li>Luego de leer la consigna y pensar la respuesta debes oprimir el botón para enviar tu respuesta</li>
    <li>Si ves que te cuesta y no se te ocurre que poner, puedes pedir una pista</li>
    <li>Si esta no te basta, puedes pedir una extra</li>
</ol>
<h2>¿Qué pasa luego de mandar mi respuesta?</h2>
<h3>Pueden suceder dos cosas...</h3>
<ol>
    <ul>En caso de que tu respuesta sea <b>correcta</b> entonces procederás a la próxima sala. Si ya te encontrás en la última habitación, la cuarta, entonces te llevaremos a la página de vitoria</ul>
    <ul>En caso de que tu respuesta sea <b>incorrecta</b> te mandaremos un mensaje de error y te daremos más tiempo para pensar con qué contestarás nuestro comlicado acertijo</ul>
</ol>

<div class="d-flex justify-content-center">
<div id="carouselExample" class="carousel slide w-50 text-center">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/Index/foto1.jpg" class="d-block w-100" alt="foto1" >
    </div>
    <div class="carousel-item">
      <img src = "/img/Index/foto2.webp" class="d-block w-100" alt = "foto2">
    </div>
    <div class="carousel-item">
      <img src="/img/Index/foto3.webp" class="d-block w-100" alt="foto3" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>