html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 60px 0px 20px;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 10px 0px 20px 0px;
}

header {
    font-size: 50px;
}

a:link,
a:visited {
    background-color: #f885b5;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 25px;
}

a:hover,
a:active {
    background-color: rgb(238, 175, 240);
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #f885b5;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 25px;
}

button {
    background-color: #f885b5;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 25px;
}